.formulario-items {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
}

.input {
  padding: 16px;
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  justify-self: stretch;
  align-self: stretch;
  width: auto;
}

.btn-submit {
  border-radius: 5px;
  padding: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: 2px solid rgb(127, 255, 185);
  background-color: rgb(127, 255, 191);
  font-size: 1.125rem;
  cursor: pointer;
  width: auto;
}

.btn-left {
  border-radius: 5px;
  padding: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: 2px solid rgb(255, 127, 127);
  background-color: rgb(255, 153, 127);
  font-size: 1.125rem;
  text-align: center;
  cursor: pointer;
  width: auto;
}

.label {
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}

@media (max-width: 800px) {
  .input {
    padding: 8px;
  }

  .label {
    font-size: 1rem;
  }

  .btn-left {
    padding: 8px;
    font-size: 1rem;
  }

  .btn-submit {
    padding: 8px;
    font-size: 1rem;
  }
}
